-- create DB and admin user
CREATE DATABASE IF NOT EXISTS $MYSQL_DB_NAME; 
CREATE USER IF NOT EXISTS '${MYSQL_ADMIN_USER}'@'${MYSQL_ADMIN_HOST}' IDENTIFIED BY '$MYSQL_ADMIN_PASSWORD';
GRANT ALL PRIVILEGES ON ${MYSQL_DB_NAME}.* TO '${MYSQL_ADMIN_USER}'@'${MYSQL_ADMIN_HOST}';

-- create the table if not existent yet
USE ${MYSQL_DB_NAME};
CREATE TABLE IF NOT EXISTS ${MYSQL_TABLE_NAME} (
id INT(6) UNSIGNED AUTO_INCREMENT PRIMARY KEY,
${MYSQL_TABLE_C1} VARCHAR(60) NOT NULL,
${MYSQL_TABLE_C2} VARCHAR(50) NOT NULL
);

-- create BE user: read and write access
CREATE USER IF NOT EXISTS '${MYSQL_BE_USER}'@'${MYSQL_BE_HOST}' IDENTIFIED BY '${MYSQL_BE_PASSWORD}';
GRANT SELECT, DELETE, INSERT ON ${MYSQL_DB_NAME}.${MYSQL_TABLE_NAME} TO '${MYSQL_BE_USER}'@'${MYSQL_BE_HOST}';

-- create NLP users: read only
CREATE USER IF NOT EXISTS '${MYSQL_NLP_GROUPING_USER}'@'${MYSQL_NLP_GROUPING_HOST}' IDENTIFIED BY '${MYSQL_NLP_GROUPING_PASSWORD}';
GRANT SELECT ON ${MYSQL_DB_NAME}.${MYSQL_TABLE_NAME} TO '${MYSQL_NLP_GROUPING_USER}'@'${MYSQL_NLP_GROUPING_HOST}';

CREATE USER IF NOT EXISTS '${MYSQL_NLP_RECOMMEND_USER}'@'${MYSQL_NLP_RECOMMEND_HOST}' IDENTIFIED BY '${MYSQL_NLP_RECOMMEND_PASSWORD}';
GRANT SELECT ON ${MYSQL_DB_NAME}.${MYSQL_TABLE_NAME} TO '${MYSQL_NLP_RECOMMEND_USER}'@'${MYSQL_NLP_RECOMMEND_HOST}';

