-- NLP SERVICES DB
-- create DB and admin user
CREATE DATABASE IF NOT EXISTS $MYSQL_NLP_SERVICES_DB; 
CREATE USER IF NOT EXISTS '${MYSQL_NLP_SERVICES_ADMIN_USER}'@'${MYSQL_NLP_SERVICES_ADMIN_HOST}' IDENTIFIED BY '$MYSQL_NLP_SERVICES_ADMIN_PASSWORD';
GRANT ALL PRIVILEGES ON ${MYSQL_NLP_SERVICES_DB}.* TO '${MYSQL_NLP_SERVICES_ADMIN_USER}'@'${MYSQL_NLP_SERVICES_ADMIN_HOST}';

-- create the table if not existent yet
USE ${MYSQL_NLP_SERVICES_DB};
CREATE TABLE IF NOT EXISTS ${MYSQL_NLP_SERVICES_TABLE_NAME} (
id INT(6) UNSIGNED AUTO_INCREMENT PRIMARY KEY,
${MYSQL_NLP_SERVICES_TABLE_C1} VARCHAR(60) NOT NULL,
${MYSQL_NLP_SERVICES_TABLE_C2} VARCHAR(50) NOT NULL
);

-- create NLP users: read only
CREATE USER IF NOT EXISTS '${MYSQL_NLP_GROUPING_USER}'@'${MYSQL_NLP_GROUPING_HOST}' IDENTIFIED BY '${MYSQL_NLP_GROUPING_PASSWORD}';
GRANT SELECT ON ${MYSQL_NLP_SERVICES_DB}.${MYSQL_NLP_SERVICES_TABLE_NAME} TO '${MYSQL_NLP_GROUPING_USER}'@'${MYSQL_NLP_GROUPING_HOST}';

CREATE USER IF NOT EXISTS '${MYSQL_NLP_RECOMMEND_USER}'@'${MYSQL_NLP_RECOMMEND_HOST}' IDENTIFIED BY '${MYSQL_NLP_RECOMMEND_PASSWORD}';
GRANT SELECT ON ${MYSQL_NLP_SERVICES_DB}.${MYSQL_NLP_SERVICES_TABLE_NAME} TO '${MYSQL_NLP_RECOMMEND_USER}'@'${MYSQL_NLP_RECOMMEND_HOST}';


-- LARAVEL WEBAPP DB
-- create DB and admin user
CREATE DATABASE IF NOT EXISTS $MYSQL_WEBAPP_DB; 
CREATE USER IF NOT EXISTS '${MYSQL_WEBAPP_ADMIN_USER}'@'${MYSQL_WEBAPP_ADMIN_HOST}' IDENTIFIED BY '$MYSQL_WEBAPP_ADMIN_PASSWORD';
GRANT ALL PRIVILEGES ON ${MYSQL_WEBAPP_DB}.* TO '${MYSQL_WEBAPP_ADMIN_USER}'@'${MYSQL_WEBAPP_ADMIN_HOST}';

-- Use Laravel migrate to create table
-- -- create the table if not existent yet
-- USE ${MYSQL_WEBAPP_DB};
-- CREATE TABLE IF NOT EXISTS ${MYSQL_WEBAPP_TABLE_NAME} (
-- id INT(6) UNSIGNED AUTO_INCREMENT PRIMARY KEY,
-- ${MYSQL_WEBAPP_TABLE_C1} VARCHAR(60) NOT NULL,
-- ${MYSQL_WEBAPP_TABLE_C2} VARCHAR(50) NOT NULL
-- );
-- 
-- -- create WEBAPP user: read and write access
-- CREATE USER IF NOT EXISTS '${MYSQL_WEBAPP_USER}'@'${MYSQL_WEBAPP_HOST}' IDENTIFIED BY '${MYSQL_WEBAPP_PASSWORD}';
